
*,*:after, *:before{
    box-sizing: border-box;
}


html,
body {
    margin:0; 
    padding: 0;
    height: 100%;
}

body{
    background: rgb(173,50,255);
    background: -moz-linear-gradient(top,  rgba(173,50,255,1) 0%, rgba(0,64,108,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(173,50,255,1) 0%,rgba(0,64,108,1) 100%);
    background: linear-gradient(to bottom,  rgba(173,50,255,1) 0%,rgba(0,64,108,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad32ff', endColorstr='#00406c',GradientType=0 );
    display: flex;
}

.register_title {
    background-color: #232055;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.window_register_title, h1 {
    color: white;
    margin: 0;
    text-align: center;
    padding: 20px 0px;
    font-family:Arial, Helvetica, sans-serif
}

.form_container {
    background-color: #2a2a68;
    width: 400px;
    height: 500px;
    padding: 35px;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
}

.form-control {
padding: 10px 20px;
width: 320px;
border-radius: 10px;
border: 0px;
}

.form-group {
    padding-top: 20px;
    position: relative;
}

.form-check {
position: absolute;
top: 50%;
}

.checkbox-paragraph{
    display: block;
    font-size: 10px;
    color: white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 30px;
}

.first-button {
    padding: 10px 30px;
    margin-top: 60px;
    margin-left: 200px;
    color: white;
    background-color: #60ae2e;
    border-radius: 10px;
    border: 0px;

    background: rgb(46,193,38);
    background: -moz-linear-gradient(top, rgba(46,193,38,1) 0%, rgba(65,102,55,1) 100%);
    background: -webkit-linear-gradient(top, rgba(46,193,38,1) 0%,rgba(65,102,55,1) 100%);
    background: linear-gradient(to bottom, rgba(46,193,38,1) 0%,rgba(65,102,55,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ec126', endColorstr='#416637',GradientType=0 );
}